<!-- 10-->
<!--div>
    <app-counting [title]="'Counting component'"></app-counting>
</div-->

<!-- 11-->
<!--div>
    <app-lab4 [title]="'Lab4 Component'"></app-lab4>
</div-->

<!-- 13.1-->
<!--div>
    <app-home [title]="'1) HomeComponent '"></app-home>
</div>
<div>
    <app-navbar [title]="'2) NavbarComponent '"></app-navbar>
</div>
<div>
    <app-searchbar [title]="'5) SearchBarComponent '"></app-searchbar>
</div>
<div>
    <app-topbanner [title]="'3) TopBannerComponent '"></app-topbanner>
</div>
<div>
    <app-categorymenu [title]="'4) CategoryMenuComponent '"></app-categorymenu>
</div-->

<!-- 13.2 13.4-->
<!--div>
    <app-todolist [title]="''"></app-todolist>
</div-->

<!-- 13.3-->
<!--div>
    <app-home [title]="'1) HomeComponent '"></app-home>
</div>
<div>
    <app-navbar [title]="'2) NavbarComponent '"></app-navbar>
</div>
<div>
    <app-topbanner [title]="'3) TopBannerComponent '"></app-topbanner>
</div>
<div>
    <app-searchbar [title]="'5) SearchBarComponent '"></app-searchbar>
</div>

<div>
    <app-categorymenu [title]="'4) CategoryMenuComponent '"></app-categorymenu>
</div-->

<!-- 22.1-->
<div>
    <h2>My Task Today</h2>
</div>
<div>
    <app-todolist></app-todolist>
</div>