<!--div>
    <app-counting [title]="'Counting component'"></app-counting>
</div-->
<!--div>
    <app-lab4 [title]="'Lab4 Component'"></app-lab4>
</div-->

<!--div>
    <app-home [title]="'1) HomeComponent '"></app-home>
</div>
<div>
    <app-navbar [title]="'2) NavbarComponent '"></app-navbar>
</div>
<div>
    <app-searchbar [title]="'5) SearchBarComponent '"></app-searchbar>
</div>
<div>
    <app-topbanner [title]="'3) TopBannerComponent '"></app-topbanner>
</div>
<div>
    <app-categorymenu [title]="'4) CategoryMenuComponent '"></app-categorymenu>
</div-->


<div>
    <app-todolist [title]="''"></app-todolist>
</div>
